@import 'ag-grid-enterprise/styles/ag-grid.css';
@import 'ag-grid-enterprise/styles/ag-theme-alpine.css';
@import '@adaptabletools/adaptable-react-aggrid/base.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/light.css';
@import '@adaptabletools/adaptable-react-aggrid/themes/dark.css';

:root {
  --ab__font-family: Helvetica;
}

body {
  margin: 0;
  color: #fff;
  font-family: var(--ab__font-family);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
